body {
    padding-top: 100px; /* Passe diesen Wert an die Höhe deiner Navbar an */
    font-family: Arial, sans-serif;
}
.bg-dark {
    background-color: black !important;
}

.btn{
    background-color: white;
    border-color: white;
}
.btn:hover {
    background-color: black;
    border-color: white;
}
.btn-rePlantHeart {
    background-color: transparent;
    border-color: transparent;
}
.btn-rePlantGreen {
    background-color: #017101;
    color: white;
}
.btn-rePlantGrey {
    background-color: #757575;
    color: white;
}
.btn-rePlantGreen:hover {
    background-color: black;
    color: white;
    border-color: #017101;
}
.btn-rePlantGrey:hover {
    background-color: black;
    color: white;
    border-color: #757575;
}
.btn-rePlantGreen:active {
    background-color: #017101;
    color: white;
    border-color: #017101;
<!-- SchattenFarbeBlauzuGrünwechseln -->
}
.btn-rePlantGrey:active {
    background-color: #757575;
    color: white;
    border-color: #757575;
<!-- SchattenFarbeBlauzuGrünwechseln -->
}
.container {
    margin-top: 20px;
}
.card {
    border-color: #017101;
    width: 100%;
}
.card-rePlant{
    background-color: #F0F0F0;
    border-color: #017101;
}
.card-footer-rePlant{
    background-color: #F0F0F0;
    border-color: #F0F0F0;
}
.form-control:focus {
    border-color: #017101;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(1, 113, 1);
}
.form-control{
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

h1 {
    color: #017101;
    font-size: 20px;
}
h2 {
    color: black;
    font-size: 36px;
}
h3 {
    color: black;
    font-size: 20px;
}
.form-control {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.navbar {
    background-color: #017101;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 0; /* Adjust padding if needed */
    height: 80px;
}
.navbar-logo {
    width: 100%;
    height: auto; /* Ensures the image keeps its aspect ratio */
    max-height: 100px;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.navbar-brand {
    display: flex;
    align-items: center;
}


.nav-link {
    color: white;
}

.nav-item.dropdown {
    background-color: #017101 !important;
}
.dropdown-item:hover {
    background-color: black;
    color: white;
}
.dropdown-item:active {
    background-color: #017101 !important;
}

.dropdown-item:link{
    
}


p {
    color: black;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}
.responsive-image {
    width: 100%;
    max-width: 600px;
    height: auto;
}
.rounded-circle {
    width: 100px;
    height: 100px;
    border-radius: 100% !important;
    border: 2px solid black;
}
.filter-block {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
}
.table-profil-oben {
    width: max-content;
}
.btn-Profilbild {
    border-color: transparent;
    background-color: transparent;
}
.btn-Profilbild:active {
    border-color: transparent;
    background-color: transparent;
}
.btn-Profilbild:hover {
    border-color: transparent;
    background-color: transparent;
}

/*TEST
*/
.wrapper{
    background: lightslategray;
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 0 128px rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}

/** Verkäufer */

.chat-container {
    display: flex;
    height: 100vh;
}

.chat-sidebar {
    width: 250px;
    background-color: white;
    color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid #017101; /* This adds the border around the left sidebar */
}

.chat-header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
}

.chat-search {
    padding: 10px 20px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
}

.chat-search input {
    width: 100%;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    outline: none;
}

.search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: -30px;
    color: #ccc;
    font-size: 16px;
}

.chat-users {
    flex: 1;
    overflow-y: auto;
}

.chat-user {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #017101;
    cursor: pointer;
    transition: background 0.3s;
}

.chat-user:hover {
    background-color: lightgreen;
    color: white;

}

.chat-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    border: 1px solid black; /* This adds a border around the profile picture */
}

.user-info h3 {
    margin: 0;
    font-size: 16px;
}

.user-info p {
    margin: 5px 0 0;
    font-size: 14px;
    color: black;
}

.chat-main {
    flex: 1;
    background-color: #ecf0f1;
    padding: 20px;
    overflow-y: auto;
    border: 1px solid #017101; /* This adds the border around the chat window */
}


.margin-top-20 {
    margin-top: 25px;
}

.heart-icon {
    width: 58px;
    height: 50px;
    transition: transform 0.2s ease, width 0.2s ease, height 0.2s ease;
}

.heart-icon.liked {
    transform: scale(1.2);
    width: 58px;
    height: 50px;
    content: url('images/gruenRePlant.png');
}
