body {
    padding-top: 100px; /* Passe diesen Wert an die Höhe deiner Navbar an */
    font-family: Arial, sans-serif;
}
.bg-dark {
    background-color: black !important;
}

.btn{
    background-color: white;
    border-color: white;
}
.btn-linkVerkäufer {
    color: #017101;
}
.btn:hover {
    background-color: black;
    border-color: white;
}
.btn-rePlantHeart {
    background-color: transparent;
    border-color: transparent;
}
.btn-rePlantHeartEmpty {
    background-color: transparent;
    border-color: transparent;
}
.btn-rePlantGreen {
    background-color: #017101;
    color: white;
}
.btn-rePlantGrey {
    background-color: #757575;
    color: white;
}
.btn-rePlantGreen:hover {
    background-color: black;
    color: white;
    border-color: #017101;
}
.btn-rePlantGrey:hover {
    background-color: black;
    color: white;
    border-color: #757575;
}
.btn-rePlantGreen:active {
    background-color: #017101;
    color: white;
    border-color: #017101;
<!-- SchattenFarbeBlauzuGrünwechseln -->
}
.btn-rePlantGrey:active {
    background-color: #757575;
    color: white;
    border-color: #757575;
<!-- SchattenFarbeBlauzuGrünwechseln -->
}
.btn-close:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(1, 113, 1);
}
.btn-linkButton {
    color: transparent;
    border-color: black;
}
.btn-linkButton:active {
    color: black;
    border-color: black;
}
.container {
    margin-top: 20px;
}
.card {
    border-color: #017101;
    width: 100%;
}
.card-rePlant{
    background-color: #F0F0F0;
    border-color: #017101;
}
.card-footer-rePlant{
    display: flex;
    justify-content: center;
    background-color: #F0F0F0;
    border-color: #F0F0F0;
}
.form-check-input:focus{
    background-color: #017101;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(1, 113, 1);
    border-color: #017101;
}
.form-check-input:checked:focus{

    border-color: #017101;
}
.form-check-input:checked{
    border-color: #017101;
    background-color: #017101;
}
.form-check-input:decrement{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(1, 113, 1);
    border-color: #017101;
}
.form-select:focus {
    border-color: #017101;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(1, 113, 1);
}
.form-control:focus {
    border-color: #017101;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(1, 113, 1);
}
.form-control{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

h1 {
    color: #017101;
    font-size: 20px;
}
h2 {
    color: black;
    font-size: 36px;
}
h3 {
    color: black;
    font-size: 20px;
}
.navbar {
    background-color: #017101;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 0; /* Adjust padding if needed */
    height: 80px;
}
.navbar-logo {
    width: 100%;
    height: auto; /* Ensures the image keeps its aspect ratio */
    max-height: 100px;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.navbar-brand {
    display: flex;
    align-items: center;
}


.nav-link {
    color: white;
}
.nav-item.dropdown .dropdown-item:active {
    background-color: #017101 !important;
}
.dropdown-item:hover {
    background-color: black;
    color: white;
}

p {
    color: black;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}
.responsive-image {
    width: 100%;
    max-width: 600px;
    height: auto;
}
.rounded-circle {
    width: 100px;
    height: 100px;
    border-radius: 100% !important;
    border: 2px solid black;
}
.filter-block {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
}
.table-profil-oben {
    width: max-content;
}
.btn-Profilbild {
    border-color: transparent;
    background-color: transparent;
}
.btn-Profilbild:active {
    border-color: transparent;
    background-color: transparent;
}
.btn-Profilbild:hover {
    border-color: transparent;
    background-color: transparent;
}

/*TEST
*/
.wrapper{
    background: lightslategray;
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 0 128px rgba(0,0,0,0.1),
    0 32px 64px -48px rgba(0,0,0,0.5);
}

/** Verkäufer-Chat */

.chat-container {
    display: flex;
    height: 80vh;
}

.chat-sidebar {
    width: 250px;
    background-color: white;
    color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid #017101;
}

.chat-header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
}

.chat-search {
    padding: 10px 20px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
}

.chat-search input {
    height: 70%;
    width: 100%;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    outline: none;
}

.search-button {
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

.search-icon {
    fill: white; /* Farbe des Icons */
    width: 100%; /* Breite des Icons */
    height: 100%; /* Höhe des Icons */
}

.chat-users {
    flex: 1;
    overflow-y: auto;
}

.chat-user {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #017101;
    cursor: pointer;
    transition: background 0.3s;
}

.chat-user:hover {
    background-color: lightgreen;
    color: white;

}

.chat-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    border: 1px solid black;
}

.user-info h3 {
    margin: 0;
    font-size: 16px;
}

.user-info p {
    margin: 5px 0 0;
    font-size: 14px;
    color: black;
}

/**  Haupt-Chatfenster*/
.chat-main {
    position: relative;
    flex: 1;
    background-color: #ecf0f1;
    border: 1px solid #017101;
    display: flex;
    flex-direction: column;
}

/* Grundstil für die Chat-Boxen */
.chat-box {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    margin-top: auto;
    margin-bottom: 70px;
    word-wrap: break-word;
}

/* Stil für ausgehende Nachrichten */
.outgoing {
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
    margin-left: auto;
    max-width: 75%;
}

/* Stil für eingehende Nachrichten */
.incoming {
    display: flex;
    justify-content: flex-start;
    margin-left: 0;
    margin-right: auto;
    max-width: 75%;
}

/* Stil für die Details der Nachrichten (Text) */
.chat-box .details {
    display: flex;
    margin-left: 10px;
    max-width: 100%;
}

/* Stil für das Profilbild bei eingehenden Nachrichten */
.chat-box .incoming img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

/* Stil für den Nachrichtentext */
.chat-box .details p {
    margin: 0;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
}

/* Anpassung der Sprechblasenform */
.chat-box .outgoing .details p {
    align-self: flex-start;
    background-color: darkseagreen;
    color: black;
    border-top-right-radius: 0;
}

.chat-box .outgoing .details{
    display: inline-block;
    padding-bottom: 20px;
    align-self: flex-end;
}

.chat-box .incoming .details p {
    background-color: whitesmoke;
    color: black;
    border-top-left-radius: 0;
}

.chat-box .incoming .details{
    display: inline-block;
    padding-bottom: 20px;
}

.typing-area{
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid black;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
}

.typing-area input{
    height: 50px;
    width: 70%;
    font-size: 17px;
    border: 1px solid #cccccc;
    padding: 0 13px;
    border-radius: 5px;
    outline: none;
    margin-right: 10px;
}
.typing-area button{
    padding: 0 10px;
    height: 50px;
    width: 55px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #017101;
    border-radius: 5px;
    cursor: pointer;
}

.typing-area button i {
    font-size: 20px;
    color: white;
}

.typing-area button:hover i {
    color: black;
}


.margin-top-20 {
    margin-top: 25px;
}

.heart-icon {
    width: 58px;
    height: 50px;
    transition: transform 0.2s ease, width 0.2s ease, height 0.2s ease;
}

.heart-icon.liked {
    transform: scale(1.2);
    width: 58px;
    height: 50px;
    content: url('images/ColorRePlant.png'); /* Ändern des Bildes */
}

/* Style for disabled button */
.chat-main button:disabled {
    background-color: #cccccc; /* Light gray */
    color: #666666; /* Dark gray */
    cursor: not-allowed;
}

.typing-area button:disabled:hover i {
    color: #fff;
}