<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat Speziell</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>

<div th:insert="~{fragments/htmlHead :: navbar}"></div>

<div class="container">
    <div class="chat-container">
        <!--
        <div class="chat-sidebar">
            <div class="chat-header">
                <h2>Chat</h2>
            </div>

            <div class="chat-search">
                <input type="text" placeholder="Search here..">
                <button class="search-button" style="background-color: #017101; border-color: #017101 ">
                    <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path d="M10 2a8 8 0 0 1 8 8c0 1.85-.63 3.55-1.69 4.91l5.39 5.39-1.42 1.42-5.39-5.39A7.944 7.944 0 0 1 10 18a8 8 0 1 1 0-16zm0 2a6 6 0 1 0 0 12 6 6 0 0 0 0-12z"/>
                    </svg>
                </button>
            </div>-->

        <!--
        <div class="chat-users">-->
        <!-- Hier können Benutzer angezeigt werden --><!--
                <div th:each="chat : ${chatList}">
                    <form th:action="@{/showSpecificChat/{chatId} (chatId = ${chat.getChatId()})}" method="get">
                        <button class="ad" style="display: flex; align-items: flex-start; border: 1px solid #ccc; padding: 10px; width: 248px;">
                            <div th:if="${chat.getRecipientOfChat() != currentUser}">
                                <p th:text="${chat.getRecipientOfChat().getUsername()}"></p>
                            </div>
                            <div th:if="${chat.getSenderOfChat() != currentUser}">
                                <p th:text="${chat.getSenderOfChat().getUsername()}"></p>
                            </div>
                        </button>
                    </form>
                </div>
            </div>
        </div>-->
        <div class="chat-main">
            <div class="chat-box">
                <div th:if="${specificChat != null}">
                    <div th:each="message : ${specificChat.getMessagesInChat()}"
                         th:class="${message.sender == '1'} ? 'outgoing' : 'incoming'">
                        <div class="chat-header">
                            <p th:text=" ${message.getSender().getUsername()} "></p>
                        </div>
                        <div class="details">
                            <p th:text="${message.getContent()} "></p>
                        </div>
                    </div>
                </div>
                <div th:if="${specificChat == null || specificChat.getMessagesInChat().isEmpty()}">
                    <p>null</p>
                </div>
                <form th:action="@{/chatSpecific/{chatId} (chatId=${chatId})}" method="post" class="typing-area">
                    <!--input wird unterstrichen, weil wohl ein Label fehlt, aber mit Label sieht es komisch aus und funktioniert auch ohne-->
                    <input type="text" id="content" name="content" placeholder="Gib eine Nachricht ein." required>

                    <button type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                             class="bi bi-send" viewBox="0 0 16 16" color="white">
                            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
                        </svg>
                    </button>

                </form>
            </div>
            <!--
            <form action="/chat/messages" method="post" class="typing-area">
                <input type="hidden" name="recipientId" id="recipientId" th:value="${recipientId}">
                <input type="hidden" name="senderId" id="senderId" th:value="${currentUser.userId}">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                <input type="text" name="content" placeholder="Gib eine Nachricht ein." required>
                <button type="submit" th:disabled="${recipientId == null}">
                    <i class="fa fa-paper-plane"></i>
                </button>
            </form>-->
        </div>
    </div>
</div>


</body>
</html>