<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kauf abschließen</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<style>
    input:invalid {
        border-color: red;
    }
</style>
<body>
<div th:insert="~{fragments/htmlHead :: navbar}"></div>

<div class="container">
    <form th:action="@{/chatConfirmPurchase/{chatId} (chatId = ${specificChat.getChatId()})}" method="post" class="form-horizontal">
        <h1> Kauf bestätigen: </h1>
        <div class="card card-rePlant">
            <div class="card-head">
                <p align="center" style="color: red">Bist du dir sicher, dass du die Pflanze zu den im Chat geregelten
                    Bedingungen kaufen möchtest? Dieser Vorgang kann nicht rückgängig gemacht werden!</p>
            </div>
            <div class="card-body">
                <div class="card-footer text-center card-footer-rePlant">
                    <p>Folgende Pflanze wird gekauft: <span th:text="${specificChat.getChatPlant().getPlantname()}"></span></p>
                </div>

                <div class="card-footer-rePlant">


                    <button onclick="history.back()" type="button" class="btn btn-rePlantGrey">Pflanze nicht kaufen</button>

                    <a>
                        <button type="submit" class="btn btn-rePlantGreen">Pflanze kaufen
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-check" viewBox="0 0 16 16">
                                <path d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
                                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                            </svg>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>