<!DOCTYPE html>

<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css\stylesheet.css">
</head>



<body>

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="container">
            <a class="navbar-brand" href="http://localhost:8080/">
                <img src="images/Weiß_rePlant.png" alt="rePlant" width="15%" height="15%">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>


        <div class="input-group">
            <input class="form-control" type="search" placeholder="Suche" aria-label="Suche">
            <button class="btn btn-outline-success" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Merkliste</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Spiele</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Wiki</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Profil
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" >
                        <li><a class="dropdown-item" href="http://localhost:8080/myUserprofile">Mein Profil</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="http://localhost:8080/login?logout">Logout</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>




<p th:text="'Willkommen bei rePlant!'"></p>
<p th:text="${message}"></p>

<header>
    <div class="container">
        <div id="branding">
            <h1 style="color: #017101;">Trending</h1>
        </div>
        <nav>
            <ul>
                <li><a href="index.html" ; style="color: #017101;">Home</a></li>
                <li><a href="about.html" ; style="color: #017101;">Über uns</a></li>
                <li><a href="contact.html" ; style="color: #017101;">Kontakt</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="container">
    <section class="ads">
        <div class="ad">
            <h2><a href="ad1.html" style="color: #017101;">Anzeige 1</a></h2>
            <p>Beschreibung der Anzeige 1...</p>
        </div>
        <div class="ad">
            <h2><a href="ad2.html" style="color: #017101;">Anzeige 2</a></h2>
            <p>Beschreibung der Anzeige 2...</p>
        </div>

        <!-- Weitere Anzeigen hier -->
    </section>
</div>
<div class="container">
    <section class="searches">
        <div class="search">
            <h2><a href="pflanzenfreund.html" style="color: #017101;">Pflanzenfreund finden</a></h2>
            <p>Suchfeld nutzen</p>
        </div>
        <div class="search">
            <h2><a href="createAd.html" style="color: #017101;">Pflanzen zum Verkauf einstellen</a></h2>
            <p>Weiterleiten zur Anzeigenerstellung</p>
        </div>

    </section>
</div>

</body>
</html>
